@font-face {
    font-family: "Josefin Slab";
    src: url(fonts/Josefin_Slab/JosefinSlab-VariableFont_wght.ttf);
}


html {
    font-family: "Josefin Slab";
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
}

p {
    color: #3E33AA;
}

h2 {
    color: white;
    font-size: 2rem;
    margin-block-start: 0rem;
    margin-block-end: 0rem;

}

nav {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

header {
    padding: 60px;
    text-align: center;
    background: #EAE0D7;
    color: white;
}

/* Sobre */

.sobre {
    padding: 50px;
    background-color: #3E33AA;

}

.box-content {
    display: inline-flex;
    justify-content: center;
    background-image: linear-gradient(45deg, #ffffff 8.33%, #3e33aa 8.33%, #3e33aa 50%, #ffffff 50%, #ffffff 58.33%, #3e33aa 58.33%, #3e33aa 100%);
    background-size: 8.49px 8.49px;
    padding: 20px;
    border-top: thick solid white;
}

.text {
    background-color: #EAE0D7;
    padding: 50px;
    font-size: 1.5rem;
    flex: 1.5;
    max-height: 583px;

}

#sobre1 {
    display: inline;
    margin: 0rem;
}

#sobre2 {
    display: inline;
    margin: 0rem;
}

.sectiontitle {
    display: flex;
    width: 80%;
    margin: auto;
    margin-bottom: 0rem;
}

.slider {
    overflow: hidden;
    width: 80%;
    display: flex;
    background-image: linear-gradient(45deg, #ffffff 8.33%, #3e33aa 8.33%, #3e33aa 50%, #ffffff 50%, #ffffff 58.33%, #3e33aa 58.33%, #3e33aa 100%);
    background-size: 8.49px 8.49px;
    padding: 20px;
    border-top: thick dashed white;
    margin: auto;
}

.slide {
    flex: 0 0 100%;
    display: none;

}

.slide.active {
    display: block;
    display: inline-flex;
}

.buttons {
    position: absolute;
    
   
}



.prev,
.next {
    position: absolute; 
    background-color: #3E33AA;
    border: none;
    opacity: 1;
    transition: 0.3s;
    cursor: pointer;
    padding: 30px;
}

.prev {
    margin-top: 577px;
}

.next {
    margin-top: 577px;
    margin-left: 1020px;
}

.prev:hover,
.next:hover
 {
    opacity: 0.6
}

*/ .image {
    flex: 1;
}

.image img {
    max-width: 100%;

}


/* Fulanos */

.fulanos {
    margin: 0rem;
    padding: 0rem;
    margin-block-start: 0rem;
    margin-block-end: 0rem;
    background-color: #A3B091;
    padding: 50px;
    text-align: center;
}

.box-image {
    display: inline-flex;
    justify-content: center;
    background-image: linear-gradient(45deg, #ffffff 8.33%, #A3B091 8.33%, #A3B091 50%, #ffffff 50%, #ffffff 58.33%, #A3B091 58.33%, #A3B091 100%);
    background-size: 8.49px 8.49px;
    padding: 20px;
    border-top: thick solid white;
}

/* Processo */
.video {
    margin: 0rem;
    padding: 0rem;
    margin-block-start: 0rem;
    margin-block-end: 0rem;
    background-color: #3E33AA;
    padding: 50px;
}




.mosaic {
    position: relative;
    width: 400px;
    /* Set desired width */
    height: 400px;
    /* Set desired height */
}


.quarter {
    position: absolute;
    width: 50%;
    height: 50%;
    overflow: hidden;
}


.quarter img {
    width: 200%;
    /* Double the width and height to show only 1/4 of the image */
    height: 200%;
}


.top-left {
    top: 0;
    left: 0;
}


.top-left img {
    transform: translate(0%, 0%);
}


.top-right {
    top: 0;
    right: 0;
}


.top-right img {
    transform: translate(-50%, 0%);
}


.bottom-left {
    bottom: 0;
    left: 0;
}


.bottom-left img {
    transform: translate(0%, -50%);
}


.bottom-right {
    bottom: 0;
    right: 0;
}


.bottom-right img {
    transform: translate(-50%, -50%);
}